header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 15px;
}

#headerInfo {
    display: flex;
    gap: 10px;
}

#dropDown {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: fixed;
    top: 79px;
    width: 100%;
    height: 0;
    visibility: hidden;
    left: 0;
}

#dropDown.active {
    visibility: visible;
    height: 80px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

}

#divImg {
    display: none;
}

#btnDropDown {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

#login {
    background-color: var(--color-white);
    color: var(--color-blue);
    border: 1px solid var(--color-blue);
    padding: 10px;
    width: 40%;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#register {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: var(--color-blue);
    color: var(--color-white);
    border: 1px solid var(--color-blue);
    padding: 10px;
    width: 40%;
    cursor: pointer;
}

#sectorDiv {
    padding: 20px;
}

ul{
    list-style: none;
}

.mySelectHome {
    margin-top: 15px;
    background-color: var(--color-blue);
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    padding-left: 110px;
}

.enterprises {
    margin-top: 30px;
    background-color: #F8F8F8;
    display: flex;
    gap: 20px;
    width: 100%;
    overflow-x: scroll;
}

.eachEnterprise {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--color-white);
    width: 150px;
    border-bottom: 1px solid var(--color-blue);
    height: 150px;
    padding: 5px;
}

.enterpriseName {
    font-size: var(--font-size-4);
    font-weight: 700;

}

.hours {
    margin-top: 40px;
    font-size: var(--font-size-4);
    font-weight: 400;

}

.sectorName {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-blue);
    border-radius: 255px;
    color: var(--color-blue);
    width: 90px;
    padding: 5px;
}

@media(min-width:1100px) {
    main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    header {
        width: 100%;
        position: inherit;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding-left: 250px;
        justify-content: space-between;
    }

    #sectorDiv {
        display: flex;
        width: 73%;
        justify-content: space-between;
        align-items: start;
    }

    #divImg {
        display: flex;
        width: 50%;
        margin-top: 30px;
    }

    #btnDropDown {
        display: none;
    }

    #dropDown {
        display: flex;
        visibility: visible;
    }

    #login {
        padding: 10px;
        width: 150px;
        margin-bottom: 100px;
        margin-left: 1080px;
    }

    #register {

        padding: 10px;
        margin-bottom: 100px;
        width: 150px;
    }

    #imgHome {
        height: 600px;
        width: 850px;

    }

    #divHome{
        display: flex;
        flex-direction: column;
        gap: 0px;
        padding: 0px;
        margin: 0px;
    }

    .mySelectHome {
        width: 650px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 250px;
        margin-top: 30px;
    }

    .enterprises{
        display: flex;
        flex-direction: column;
        padding-left: 15px;
        height: 531px;
        overflow-x: hidden;
        position: relative;
        bottom: 30px;
    }

    .eachEnterprise{
        width: 95%;
        padding-left: 15px;
    }

    #divContent {
        display: flex;
        flex-direction: column;
        height: 631px;
    }

    .enterpriseName {
        font-size: var(--font-size-2);
        font-weight: 700;
    
    }

    .sectorName {
        font-weight: 500;
        margin-bottom: 10px;
    }

    .hours {
       margin-bottom: 10px;
    }
}